@model AccountDetailsViewModel


@{
    ViewData["Title"] = "Security";
    ViewData["Title"] = $"{@Model.BasicInfo?.FirstName} {@Model.BasicInfo?.LastName}";

}
@{
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<section id="security">
    <div class="container">
        <div class="leftside">
            <div class="profile">
                <a href="#">
                    <img src="~/images/@Model.ProfileInfo?.ProfileImage" alt="logo" /></Link>
                    <h4>@Model.ProfileInfo?.FirstName</h4>
                    <p>@Model.ProfileInfo?.FirstName @Model.ProfileInfo?.LastName</p>
                </a>

            </div>
            <div class="btn-submit">
                <div class="btn">
                    <a class="@((currentAction == "Details") ? "btn-theme active" : "btn-theme")" asp-controller="Auth" asp-action="Details"><i class="fa-regular fa-gear"></i>Account Details</a>
                </div>
                <div class="btn">
                    <a class="@((currentAction == "Security") ? "btn-theme active" : "btn-theme")" asp-controller="Auth" asp-action="Security"><i class="fa-regular fa-lock"></i>Security</a>
                </div>
                <div class="btn">
                    <a class="btn-theme" asp-controller="Account" asp-action="SavedItems"><i class="fa-regular fa-bookmark"></i></i>Saved Courses</a>
                </div>
                <div class="btn">
                    <a class="btn-theme" asp-controller="Auth" asp-action="Logout"><i class="fa-regular fa-lock"></i>Sign Out</a>
                </div>

            </div>
        </div>
        <div class="right-side">
            <h1>Security</h1>
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
            {
                <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
            }
            <form method="post" asp-controller="Auth" asp-action="Security">

                <h4>Password</h4>


                <div class="content">

                    <div id="form-password" class="input-group">
                        <label asp-for="SecurityInfo.Password">Password</label>
                        <span asp-validation-for="SecurityInfo.Password"></span>
                        <input asp-for="SecurityInfo.Password"/>

                    </div>
                    <div id="form-password" class="input-group">
                        <label asp-for="SecurityInfo.Password">New Password</label>
                        <span asp-validation-for="SecurityInfo.NewPassword"></span>
                        <input asp-for="SecurityInfo.NewPassword" />

                    </div>
                    <div id="form-password" class="input-group">
                        <label asp-for="SecurityInfo.Password">Confirm Password</label>
                        <span asp-validation-for="SecurityInfo.ConfirmPasword"></span>
                        <input asp-for="SecurityInfo.ConfirmPasword" />

                    </div>

                    <div class="btn-submit">
                        <button class="btn-theme" type="reset">Cancel</button>
                        <button class="btn-theme" type="submit">Change Password</button>
                    </div>

                </div>
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="success-message">
                        @ViewData["SuccessMessage"]
                    </div>
                }
            </form>
            <form method="post" asp-controller="Auth" asp-action="Security">

                <div class="deleted">

                    <h4>Delete account</h4>
                    <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
                    <input type="checkbox" asp-for="DeleteAccount.DeleteAccount">
                    <label asp-for="DeleteAccount">Yes, i want to delete my account</label>
                    <div class="btn-delete" asp-validation>
                        <button class="btn-theme" type="submit">Delete</button>
                    </div>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <a class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </a>
                    }
                </div>
            </form>
            
        </div>
    </div>
</section>
