@model IEnumerable<CourseModel>
@{
    ViewData["Title"] = "Courses";

}

<section id="courses">
    <div class="container">


        <div class="navigation">
            <i class="fa-thin fa-house"></i>
            <a href="home.html">Home</a>
            <i class="fa-thin fa-arrow-right"></i>
            <a href="courses.html">Courses</a>
        </div>

        <div class="links">

            <h1>Courses</h1>
            <div class="search-form">
                
                <div>
                    
                    <form>
                        <div class="select">
                            <div class="selected">All Categories</div>
                            <div class="select-options">
                                <div class="option" data-value="all">All Categories</div>
                                @if(Model != null)
                                {
                                    foreach (var category in Model)
                                    {

                                        <div class="option" data-value="@category.Category">@category.Category</div>
                                    }
                                }
                               
                                
                            </div>
                        </div>

                        <div class="input-search-group">
                            <input id="searchQuery" name="searchQuery" placeholder="Search courses"/>
                            <i class="fa-regular fa-magnifying-glass"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @if(Model == null)
        {
            <div>
                <h6>Loading...</h6>
            </div>
        }
        else
        {
            <div class="box-row">
                @foreach (var item in Model)
                {

                    <div class="box-link" onclick="location.href='@Url.Action("OneCourseView","Courses", new { id = item.Id})'">
                        <div class="box">
                            @if (item.IsBestSeller)
                            {
                                <div class="badge">
                                    <img src="images/badge.svg" alt="">
                                </div>
                            }
                            
                            <a asp-action="Join" asp-controller="Courses" class="marks" asp-route-id="@item.Id">
                                <img src="images/S.svg" alt="">
                            </a>
                            <img src="~/images/@item.ImageName" alt="">
                            <div class="content-mat">
                                <h6>@item.Title</h6>
                                <p>@item.Author</p>
                                <p>@item.OrginalPrice</p>
                                <div class="line">
                                    <p>@item.Hours</p>
                                    <p>@item.DiscountPrice</p>
                                </div>
                            </div>
                            

                        </div>
                    </div>

                };
            </div>
        }
        
        

        <div class="side-selection">
            <i class="fa-thin fa-arrow-left"></i>

            <a class="test" href="">1</a>
            <a class="test" href="">2</a>
            <a class="test" href="">3</a>
            <a class="test" href="">4</a>

            <i class="fa-thin fa-arrow-right"></i>
        </div>

        <div class="next-level">

            <div class="content">

                <h5>Ready to get started?</h5>
                <h1>Take Your Skills to the Next Level</h1>
                <a class="btn-theme-s" href="#">Work with us</a>

            </div>
            <div class="background-image">
                <img class="background-image" src="~/images/illustration.svg" alt="">
            </div>

        </div>
        


    </div>

   
    
</section>