@model ContactModel
@{

    ViewData["Title"] = "Contacts";


},

<section id="contact">

    <div class="container">

        <div class="navigation">
            <i class="fa-thin fa-house"></i>
            <a href="home.html">Home</a>
            <i class="fa-thin fa-arrow-right"></i>
            <a href="courses.html">Courses</a>
        </div>

        <div class="contact-info">
            <div class="info">
                <h1>Contact Us</h1>
                <div class="details">
                    <img src="~/images/asd.svg" alt="">
                    <div class="box-detail">
                        <h4>Email us</h4>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <a href="">Leave a message<i class="fa-thin fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="info">

                    <div class="details">
                        <img src="~/images/abc.svg" alt="">
                        <div class="box-detail">
                            <h4>Careers</h4>
                            <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                            <a href="">Send an application<i class="fa-thin fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form">
                <form novalidate method="post" asp-controller="Home" asp-action="contacts">
                    <h3>Get in Contact With Us</h3>
                    @if (!string.IsNullOrEmpty(ViewData["SuccessMessage"] as string))
                    {
                        <div class="alert-success" role="alert">
                            @ViewData["SuccessMessage"]
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                    {
                        <div class="alert-danger" role="alert">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
                    <div class="content">

                        <div id="form-firstname" class="input-group">
                            <div class="input-group-flex">
                                <label asp-for="@Model.FullName">First name</label>
                                <span asp-validation-for="@Model.FullName"></span>
                            </div>

                            <input asp-for="@Model.FullName" />

                        </div>

                        <div id="form-email" class="input-group">
                            <div class="input-group-flex">
                                <label asp-for="@Model.EmailAdress">Email Adress</label>
                                <span asp-validation-for="@Model.EmailAdress"></span>
                            </div>

                            <input asp-for="@Model.EmailAdress" />
                        </div>

                        <div id="form-Service" class="input-group">
                            <div class="input-group-flex">
                                <label asp-for="@Model.Service">Service</label>
                                <span asp-validation-for="@Model.Service"></span>
                            </div>

                            <input asp-for="@Model.Service" />
                        </div>
                        <div id="form-Message" class="input-group">
                            <div class="input-group-flex">
                                <label asp-for="@Model.Message">Message</label>
                                <span asp-validation-for="@Model.Message"></span>
                            </div>
                            <textarea id="message" asp-for="@Model.Message" rows="8" cols="50"></textarea>
                        </div>

                        <div class="btn-submit">
                            <button class="btn-theme-s" type="submit">Send Contact Request</button>
                        </div>

                    </div>
                    
                </form>

               
            </div>
        </div>

    </div>
    <div class="map">
        <img src="~/images/map.svg" alt="">
    </div>
</section>
